@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url("https://github.com/TitanEmbeds/Titan/raw/master/webapp/titanembeds/static/fonts/whitney_light.woff") format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url("https://github.com/TitanEmbeds/Titan/raw/master/webapp/titanembeds/static/fonts/whitney_normal.woff") format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url("https://github.com/TitanEmbeds/Titan/raw/master/webapp/titanembeds/static/fonts/whitney_medium.woff") format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url("https://github.com/TitanEmbeds/Titan/raw/master/webapp/titanembeds/static/fonts/whitney_bold.woff") format("woff")
}

#titanbuttonembed {
  font-family: 'Whitney','Helvetica Neue', sans-serif;
}

#titanbuttonopen {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #303f9f;
}

#titanbuttonclose {
  margin: 9px 0;
  position: relative;
  left: -15px;
}

#titanbuttonmodal {
  overflow-x: hidden;
}

.titanbuttonmodal {
  padding: 0px;
}

.embed-container {
     position: relative;
     padding-bottom: 56.25%;
     height: 0;
     overflow: hidden;
     max-width: 100%;
}
 .embed-container iframe, .embed-container object, .embed-container embed {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

#titanbuttonicon {
  height: 1em
}
