@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url("https://github.com/TitanEmbeds/Titan/raw/master/webapp/titanembeds/static/fonts/whitney_light.woff") format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url("https://github.com/TitanEmbeds/Titan/raw/master/webapp/titanembeds/static/fonts/whitney_normal.woff") format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url("https://github.com/TitanEmbeds/Titan/raw/master/webapp/titanembeds/static/fonts/whitney_medium.woff") format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url("https://github.com/TitanEmbeds/Titan/raw/master/webapp/titanembeds/static/fonts/whitney_bold.woff") format("woff")
}

#titanbuttonembed {
  font-family: 'Whitney','Helvetica Neue', sans-serif;
}
