@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url("https://github.com/TitanEmbeds/Titan/blob/master/webapp/titanembeds/static/fonts/whitney_light.woff") format("woff");
}
@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url("https://github.com/TitanEmbeds/Titan/raw/master/webapp/titanembeds/static/fonts/whitney_normal.woff") format("woff");
}
@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url("https://github.com/TitanEmbeds/Titan/raw/master/webapp/titanembeds/static/fonts/whitney_medium.woff") format("woff");
}
@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url("https://github.com/TitanEmbeds/Titan/raw/master/webapp/titanembeds/static/fonts/whitney_bold.woff") format("woff");
}

#TitanButton {
  transition: color 0.1s ease-out, background 0.1s ease-in;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 0px var(--titan-button-open-glow-blur) var(--titan-button-open-glow-spread) var(--titan-button-open-glow-color);
  background-color: var(--titan-button-open-color);
  border-color: var(--titan-button-open-border-color);
  text-align: center;
  bottom:40px;
  right:40px;
}
#TitanButton:hover {
  background-color: var(--titan-button-open-hover-color);
}
#TitanButton:active {
  background-color: var(--titan-button-open-active-color);
}
#TitanButton:after {
  content: var(--titan-button-open-content);
}
#TitanCloseButton:after {
  content: var(--titan-button-close-content);
}
#TitanIcon /* SVG version by welian#6782 */ {
  height: 1.5em;
  -webkit-filter: brightness(0) invert(var(--titan-button-open-icon-white));
  filter: brightness(0) invert(var(--titan-button-open-icon-white));
}
#TitanIframe {
  border: 0px;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 550px;
  overflow: hidden;
  max-width: 100%;
  border-radius: 5px;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn-ease-transition {
  transition: color 0.1s ease-out, background 0.1s ease-in;
}

.bootstrap-iso .btn-info {
  background-image: none; !important
}

.modal-body {
  padding: 0px;
}

#TitanButtonEmbed {
  font-family: var(--titan-button-fontfamily);
}

/* Default values */
#TitanButtonEmbed {
  --titan-button-open-icon-white: 1;
  --titan-button-open-color: rgb(115,145,214);
  --titan-button-open-hover-color: rgb(80,101,149);
  --titan-button-open-active-color: rgb(40,61,100);
  --titan-button-open-border-color: rgb(80,101,149);
  --titan-button-open-content: "";
  --titan-button-close-content: "Close";
  --titan-button-fontfamily: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --titan-button-open-glow-blur: 0px;
  --titan-button-open-glow-spread: 0px;
  --titan-button-open-glow-color: white;
}
